.fullscreen-video{
  width: 100%;
  height: 100%;
  animation: opacityButton ease-in 0.3s;
}

.button{
  position: absolute;
  width: 66.67%;
  height: 6.7%;
  left: 17.6%;
  top: 84.81%;
  background-color: transparent;
  border: none;
  transition: all ease-in 0.2s;
  animation: opacityButton ease-in 0.3s;
}

@keyframes opacityButton {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.button:active{
  transform: scale(0.9);
}

.button-layout-1 {
  position: absolute;
  width: 96.5%;
  height: 85.71%;
  left: 2%;
  top: 7%;

  background: linear-gradient(180deg, #FFFEFD -21.88%, #FFAF13 100%);
  border-radius: 24px;
  z-index: 100;
}

.button-layout-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;

  background: linear-gradient(180deg, #FFAF13 0%, #FFFFFF 141.96%);
  border-radius: 68px;
}

.button-title{
  position: absolute;
  font-family: FS Magistral;
  font-style: normal;
  font-weight: normal;
  font-size: 6vw;
  line-height: 27px;
  color: #541717;
  top: 9%;
  left: 24%;
}

@media screen and (min-height: 800px) {
  .button-title {
    top:13%;
  }
}

@media screen and (min-width: 1200px) {
  .button-title {
    font-size: 1.4vw;
  }
}

.hidden-video {
  display:none
}
